<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        <% if @info[:image_url] %>
          <img src="<%= @info[:image_url] %>" alt="<%= @info[:image_caption] %>" />
        <% end %>
      </div>
      <div class="col-sm-10">
        <h1><%= linkify(@title) %></h1>
        <% if @info[:description] %>
          <h5><%= linkify(@info[:description]) %></h5>
        <% end %>
        <% if @info[:copyright] %>
          <h6><%= linkify(@info[:copyright]) %></h6>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-9">
        <select name="feeds" id="feeds" class="pull-right">
        <% feeds.sort_by {|feed| feed[:name]}.each do |feed| %>
          <option value="<%= feed[:url] %>" <%= 'selected' if feed[:url] == @address %>><%= feed[:name] %></option>
        <% end %>
        </select>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <% if @items.any? %>
    <% @items.each do |item| %>
      <article>
        <div class="row">
          <div class="col-sm-2">
            <% if item.key? :image_url %>
              <a href="<%= item[:link] %>" target="_blank">
                <img src="<%= item[:image_url] %>" alt="">
              </a>
            <% end %>
          </div>
          <div class="col-sm-8">
            <a href="<%= item[:link] %>" target="_blank">
              <h4><%= item[:title] %></h4>
            </a>
            <p><%= linkify(item[:description]) %></p>
          </div>
          <div data-stamp="<%= item[:timestamp] %>" class="col-sm-2 humantime"><%= item[:time_ago] %></div>
        </div>
      </article>
    <% end %>
  <% else %>
    <h3 class="text-center">No feed items to display</h3>
  <% end %>
</div>

